<!doctype html>

<head>
  <title>AppLostUdeA</title>
</head>

<body>
  <div class="text-center container">
    <div class="card shadow-lg d-flex p-3 m-3">
      <div>
        <h1>App Lost UdeA<i class="fa fa-search pl-2"></i></h1>
        <img src="../../assets/img/logoUdea.png" width="200" height="180" class="img-fluid p-2" alt="Responsive image">
      </div>

      <div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text" class="form-control shadow-sm" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-4">
          <input type="password" class="form-control shadow-sm" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div>
          <button type="button" class="btn btn-secondary m-3"><i class="fa fa-chevron-circle-right pr-2"></i>Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</body>