
<!doctype html>
<head>
  <title>AppLostUdeA</title>
</head>

<body>
  <div class="text-center container card border d-flex p-5 mt-5 mb-5" style="width: 30rem;">
    <div>
    <h1 class="text-success font-weight-bold">App Lost UdeA</h1>
    <img src="../../assets/img/logoUdea.png" width="200" height="180" class="img-fluid" alt="Responsive image">
  </div>

  <div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Password" aria-label="Password"
        aria-describedby="basic-addon1">
    </div>
    <div>
      <button type="button" class="btn btn-secondary">Ingresar</button>
    </div>
  </div>
</div>
</body>