/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
    background-image: url('assets/img/fondo1pc.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: darkgray;
}
.card{
    background-color: rgb(247, 247, 247);
}
.btn-secondary{
    background-color: rgb(54, 109, 63);
    font-weight: 500 ;
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2), 0 6px 20px 0 rgba(20, 20, 20, 0.19);
}
h1{
    text-shadow: 2px 2px 3px rgb(173, 172, 172);
    font-weight: bold;
    color: rgb(62, 126, 73);
  }


  @media (max-width: 575.98px) { 
    .card{
        padding: 1;
        margin: 1;
    }
    .container{
        padding: 1;
        margin: 1;
    }
    h1{
        font-size: x-large;
    }
    body{
        background-image: url('assets/img/fondo1cel.jpg');
    }

   }
   @media (min-width: 768px) { 

    .container{
        position: center;
        width: 50rem;
    }

    }