<!doctype html>
<head>
  <title>AppLostUdeA</title>
</head>

<body>
  <div class="text-center container">
    <div class="card shadow-lg d-flex p-3 m-3">
  <div class="p-4">
    <h1>App Lost UdeA<i class="fa fa-search pl-2"></i></h1>
    <img src="../../assets/img/logoUdea.png" width="200" height="180" class="img-fluid p-2" alt="Responsive image">
  </div>

  <div>
    <div class="p-3">
      <button type="button" class="btn btn-secondary"><i class="fa fa-chevron-circle-right pr-2"></i>Encontré un Objeto</button>
    </div>
    <div class="p-3">
      <button type="button" class="btn btn-secondary"><i class="fa fa-chevron-circle-right pr-2"></i>Buscar un Objeto</button>
    </div>
    <div class="row align-items-end col align-self-start pb-3 pt-5">
      <button type="button" class="btn btn-secondary"><i class="fa fa-times-circle pr-2"></i>Cerrar Sesión</button>
    </div>
  </div>
</div>
</div>
</body>