<!doctype html>

<head>
  <title>AppLostUdeA</title>
</head>

<body>
  <div class="text-center container">
    <div class="card shadow-lg d-flex p-3 m-3">
      <div class="p-4">
        <h1>App Lost UdeA<i class="fa fa-search pl-2"></i></h1>
      </div>

      <div>
        <div class="p-3">
          <label for="basic-url">¿Qué encontraste?</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" id="queEncontraste">
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">¿Dónde se encontró?</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" id="dondeSeEncontro">
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">¿Cuando se encontró?</label>
          <div class="input-group mb-1">
            <input class="form-control" type="datetime-local" id="cuandoSeEncontro">
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">Categoría</label>
          <div class="input-group mb-1">
            <select class="custom-select" id="categoria">
              <option selected>Elige una opción</option>
              <option value="1">TIP</option>
              <option value="2">Documento/Tarjeta</option>
              <option value="3">Llaves</option>
              <option value="3">PC/Celular/Tablet</option>
              <option value="3">Ropa</option>
              <option value="3">Equipo deportivo</option>
              <option value="3">Bicicleta</option>
            </select>          </div>
        </div>
        <div class="p-3">
          <button type="button" class="btn btn-secondary mb-4"><i class="fa fa-camera pr-2"></i>Agregar</button>
        </div>
        <div class="btn-toolbar" style="justify-content: center; display: flex;" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group m-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary"><i class="fa fa-check-circle pr-2"></i>Publicar</button>
          </div>
          <div class="btn-group m-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary"><i class="fa fa-times-circle pr-2"></i>Cancelar</button>
          </div>
        </div>
        <div class="row align-items-end col align-self-start pb-3 pt-5">
          <button type="button" class="btn btn-secondary"><i class="fa fa-times-circle pr-2"></i>Cerrar
            Sesión</button>
        </div>
      </div>
    </div>
  </div>
</body>